:root{
    --title-color: #FFF;
    --text-color: #5D5115;
    --bg-color: #F6B637;
    --foot-bg-color: #948224;
}

body{
    box-sizing: border-box;
}

.container{
    width: 1292px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-color: var(--bg-color);
    padding-top: 50px;
}

.logo-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.header-list{
    display: flex;
    justify-content: center;
    gap: 95px;
}

.header-list-element{
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.main{
    padding-top: 100px;
    background-color: #F6B637;
    
}

.hero{
    background-image: url(./img/image\ 1.png);
    
    background-repeat: no-repeat;
}


.hero-title{
        color: var(--title-color);
        text-align: center;        
        font-size: 82px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.hero-subtitle{
        color: var(--text-color);
        text-align: center;        
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 48.412px; 
}